body {
  background-color: rgb(240, 233, 223);
}
header{
  background-color: rgb(219, 202, 175);
}
h2{
  border-style: dashed;
  border-color: rgb(119, 103, 78);
}
p{
  background-color: rgb(165, 138, 101);
}